
/************TABLETS*******************/
@media only screen and (min-width: 600px) { 
	.bsttitle{
		margin-top: 50px!important;
	}
	.entetestyle{
		margin-top: 100px!important;
	}
	.entetestyle__article{
		margin-top:75px!important;
		margin-bottom: 100px!important;
	}
	.sizeslct{
		width:55%;
		margin-left:auto!important;
		margin-right: auto!important;
	}

	.posts--content > .posts--articles{
		margin-bottom: 180px!important;
		margin-top: 120px!important;
	}
	.postsnew--formulaire{
		margin-bottom: 150px!important;
	}
	hr{
		margin-top: 70px!important;
		margin-bottom: 25px!important;
	}
	.postsshow--fondposts{
		padding-top: 50px!important;
	}
	.ctr--arrow{
		padding-bottom: 140px!important;
	}
	.postsshow--commentsh2{
		padding-bottom: 35px!important;
	}
	.posts--cntr{
		padding-top: 10%!important;
	}
	.edite-posts{
		margin-left:auto!important;
		margin-right: auto!important;
		width: 70%;
	}

/***ADMIN***/
	.adminbuttonposts, .adminbutton{
		width: 40%;
	}
	.adminprincipal{
		width: 70%;
	}
	.glblposts{
		width: 90%;
	}
}

/**************LAPTOP/DESKTOP**************/

@media only screen and (min-width: 990px) { 
.container .display-3{
	font-weight: 700;
	font-size: 104px;

}
.container .entetestyle, .postsshow--fondposts{
	width: 70%!important;
}
.entetestyle__article{
	width: 80%!important;
}
.entetestyle__article > p {
	text-align: center;
}
.sizeslct{
	width: 30%!important;
}
.posts--cntr{
	padding-top: 5%!important;
}
.posts--content{
	/*width: 1320px!important;*/
	flex-wrap: wrap;
}
.posts--content > .posts--articles{
	margin-bottom: 60px!important;
	margin-top: 60px!important;
}
.postsnew--formulaire{
	width: 60%!important;
	margin-left: auto!important;
	margin-right: auto!important;
}
.responsive-button{
	width: 30%;
}

/***ADMIN***/
	.adminbuttonposts, .adminbutton{
		width: 25%;
	}
	.glblposts{
		width: 75%;
	}

}